/* centered navigation */
@media (min-width:768px) { 
 .nav.navbar-nav {
     float: left;
 }
 .nav.navbar-nav {
     clear: left;
     float: left;
     margin: 0;
     padding: 0;
     position: relative;
     left: 50%;
     text-align: center;
 }
 .nav.navbar-nav > li {
     position: relative;
     right: 50%;
 }
 .nav.navbar-nav li {
    text-align: left
 }
}

/* Well */
.well {
    text-align: center
}

.bg {
  background: url('../images/descarga.jpg') no-repeat center center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
    background-image: url("../images/descarga.jpg");
    background-color: #17234E;
    margin-bottom: 0;`enter code here`
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

#titulo{
  color: #FFFFFF;
}

/*#main-header {
  background: #333;
  color: white;
  height: 80px;
  
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}*/